.navbar{
    position: fixed;
    width: 100%;
    background: cadetblue;
    top: 0;

}

a{
    color: white;
    text-decoration: none;
}
.footer{
    position: fixed;
    width: 100%;
    background: cadetblue;
    bottom: 0;
}